<footer class="footer bg-light text-center text-lg-start" style="padding-top: 33.8%"> 
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #efefefd8;">
      © 2021 Copyright:
      <a class="text-dark" href="https://linkedin.com/in/lucas-sanchez-/">Lucas Sanchez</a> 
      <!-- Linkedin -->
      <a class="btn btn-link btn-lg text-dark m-1" href="https://linkedin.com/in/lucas-sanchez-" style="padding-right: 1px; padding-left: 5px;" role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-link btn-lg text-dark m-1" style="padding-left: 1px;" href="https://github.com/luckdeluxe" role="button" data-mdb-ripple-color="dark"> <i class="fab fa-github"> </i></a>
    </div>
    <!-- Copyright -->
  </footer>